.bold {
  font-weight: bold;
}

.italic {
  font-size: 0.8em;
}

/* Account switcher */
#account-switcher row {
  border-radius: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-top: 7px;
  padding-bottom: 7px;
}

#account-switcher .user-id {
  font-size: 12px;
}

#new-login-icon {
  /*
   *  2 * padding + pixel-size = size (of avatar)
   */
  padding: 12px;
  background-color: @light_4;
  border-radius: 9999px;
}

.unread-count {
  background-color: @accent_bg_color;
  color: @accent_fg_color;
  border-radius: 9999px;
  padding: 2px 6px;
  font-size: 0.9em;
  font-weight: bold;
  font-feature-settings: "tnum";
}

.selected-avatar avatar {
  border: 2px solid @accent_bg_color;
}

.blue-checkmark {
  color: @light_1;
  border-radius: 9999px;
  border: solid @accent_bg_color 2px;
  background-color: @accent_bg_color;
}

.chat-list {
  background: @window_bg_color;
}

.online-indicator-mask {
  border-radius: 9999px;
  background-color: @window_bg_color;
  padding: 7px;
}

.online-indicator-dot {
  border-radius: 9999px;
  background-color: @green_4;
  padding: 5px;
}

.chat-list row .title {
  font-size: 0.95em;
}

.chat-list row .timestamp {
  font-size: 0.8em;
  font-feature-settings: "tnum";
}

.chat-list row .message {
  font-size: 0.95em;
}

.chat-list row .unread-mention-count {
  color: @accent_fg_color;
  background-color: @accent_bg_color;
  font-size: 0.8em;
  font-weight: bold;
  min-width: 1.7em;
  border-radius: 9999px;
  padding: 2px 0px;
}

.chat-list row .unread-count {
  font-size: 0.8em;
}

.chat-list row .unread-count-unmuted {
  background-color: @accent_bg_color;
}

.chat-list row .unread-count-muted {
  background-color: @light_5;
}

.chat-history listview {
  padding: 3px 0;
}

.chat-history row {
  border-radius: 5px;
  margin: 0 6px;
}

.message-bubble {
  background-color: alpha(black, 0.07);
  border-radius: 12px;
  padding: 6px 12px;
}

.message-bubble.outgoing {
  background-color: @accent_bg_color;
  color: @accent_fg_color;
}

.message-bubble.outgoing selection {
  background-color: alpha(@accent_fg_color, 0.2);
}

.message-bubble.outgoing link {
  color: @accent_fg_color;
}

.message-media {
  padding: 2px;
}

.message-media .media-picture {
  border-radius: 10px;
}

.message-media.with-caption .media-picture {
  border-radius: 10px 10px 4px 4px;
}

.message-media progressbar>trough {
  border: 1px solid alpha(black, 0.4);
  min-width: 100px;
}

.event-row {
  font-size: 0.8em;
  padding: 3px;
}

.sender-text {
  font-size: 0.85em;
  font-weight: bold;
}

.sender-text-red {
  color: #c03d33;
}

.sender-text-orange {
  color: #ce671b;
}

.sender-text-violet {
  color: #8544d6;
}

.sender-text-green {
  color: #4fad2d;
}

.sender-text-cyan {
  color: #2996ad;
}

.sender-text-blue {
  color: #168acd;
}

.sender-text-pink {
  color: #cd4073;
}

.message-text {
  font-size: 0.95em;
}

.chat-action-bar > entry {
  padding: 0;
}

.chat-action-bar > entry > scrollbar  {
  box-shadow: none;
  background: none;
}

.chat-action-bar > entry > scrollbar slider {
  min-height: 0;
}

.chat-action-bar > entry > textview {
  background: none;
  color: inherit;
}

.chat-action-bar > entry > textview > text {
  background: none;
}

.qr-code:disabled {
  filter: opacity(0.5);
}
