.bold {
  font-weight: bold;
}

.italic {
  font-size: 0.8em;
}

/* NOTE: The default `accent` class produces
 * a semi-transparent color with separators.
 */
.opaque-accent {
  background: @accent_color;
}

/* Account switcher */
#account-switcher row {
  border-radius: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-top: 7px;
  padding-bottom: 7px;
}

#account-switcher .user-id {
  font-size: 12px;
}

#new-login-icon {
  /*
   *  2 * padding + pixel-size = size (of avatar)
   */
  padding: 12px;
  background-color: @light_4;
  border-radius: 9999px;
}

.unread-count {
  background-color: @accent_bg_color;
  color: @accent_fg_color;
  border-radius: 9999px;
  padding: 2px 6px;
  font-size: small;
  font-weight: bold;
  font-feature-settings: "tnum";
}

.selected-avatar avatar {
  border: 2px solid @accent_bg_color;
}

.blue-checkmark {
  color: @light_1;
  border-radius: 9999px;
  border: solid @accent_bg_color 2px;
  background-color: @accent_bg_color;
}

.chat-list {
  background: @window_bg_color;
}

.online-indicator-mask {
  border-radius: 9999px;
  background-color: @window_bg_color;
  padding: 7px;
}

.online-indicator-dot {
  border-radius: 9999px;
  background-color: @green_4;
  padding: 5px;
}

.chat-list > row > widget {
  padding: 6px 0;
}

.chat-list row .timestamp {
  font-size: smaller;
  font-feature-settings: "tnum";
}

.chat-list row minithumbnail {
  border-radius: 3px;
}

.chat-list row .message {
  font-size: small;
}

.chat-list row .unread-mention-count {
  color: @accent_fg_color;
  background-color: @accent_bg_color;
  font-size: smaller;
  font-weight: bold;
  min-width: 1.7em;
  border-radius: 9999px;
  padding: 2px 0px;
}

.chat-list row .unread-count {
  font-size: smaller;
}

.chat-list row .unread-count-unmuted {
  background-color: @accent_bg_color;
}

.chat-list row .unread-count-muted {
  background-color: @light_5;
}

sidebarsearch listview.results-list > row {
  /* Keep in sync with button height */
  min-height: 34px;
}

sidebarsearch listview.results-list > row > widget > sidebarsearchitemrow {
  margin: 6px 0;
}

sidebarsearchitemrow {
  border-spacing: 12px;
}

.chat-history listview {
  padding: 3px 0;
}

.chat-history row {
  border-radius: 5px;
  margin: 0 6px;
}

.scroll-to-bottom-button {
  margin: 12px;
  padding: 3px;
}

messagebubble {
  background: alpha(currentColor, 0.08);
  border-radius: 15px;
}

messagebubble.outgoing {
  background: @accent_bg_color;
  color: @accent_fg_color;
}

messagebubble.outgoing link {
  color: @accent_fg_color;
}

messagebubble messageindicators {
  opacity: 0.7;
}

messagebubble.text > overlay,
messagebubble.document > overlay {
  padding: 6px 9px;
}

messagebubble.document {
  min-width: 220px;
}

messagebubble.document .file {
  margin: 6px 0;
}

messagebubble.document .file > image {
  background: @accent_color;
  color: @window_bg_color;
  transition: opacity 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  padding: 12px;
  border-radius: 9999px;
}

messagebubble.document.outgoing .file > image {
  background: @accent_fg_color;
  color: @accent_bg_color;
}

messagebubble.document .file:hover > image {
  opacity: 0.85;
}

messagebubble.document .file:active > image {
  opacity: 0.7;
}

messagebubble.media mediapicture {
  min-width: 150px;
  min-height: 100px;
  /* Message bubble border-radius (15px) - margin (1px)  */
  border-radius: 14px;
  margin: 1px;
}

messagebubble.media.with-label mediapicture {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin: 1px 1px 0;
}

messagebubble.media messagelabel {
  margin: 6px 9px;
}

messagebubble.media:not(.with-label) messageindicators,
messagesticker messageindicators,
.osd-indicator {
  background-color: alpha(black, 0.4);
  color: white;
  opacity: 1.0; /* Reset opacity from message bubble */
  border-radius: 9999px;
  padding: 2px 6px;
  margin: 6px;
}

messageindicators,
.osd-indicator {
  font-size: 8pt;
  font-feature-settings: "tnum";
}

.event-row {
  font-size: smaller;
  font-weight: bold;
  padding: 3px;
}

.sender-text-red {
  color: #c03d33;
}

.sender-text-orange {
  color: #ce671b;
}

.sender-text-violet {
  color: #8544d6;
}

.sender-text-green {
  color: #4fad2d;
}

.sender-text-cyan {
  color: #2996ad;
}

.sender-text-blue {
  color: #168acd;
}

.sender-text-pink {
  color: #cd4073;
}

/* Placeholder */
.message-entry > overlay > label {
  margin: 0 9px;
}

.message-entry > overlay > entry {
  padding: 0;
}

.message-entry > overlay > entry > scrolledwindow > scrollbar  {
  box-shadow: none;
  background: none;
}

.message-entry > overlay > entry > scrolledwindow > scrollbar slider {
  min-height: 0;
}

.message-entry > overlay > entry > scrolledwindow > textview {
  background: none;
  color: inherit;
}

.qr-code:disabled {
  filter: opacity(0.5);
}

window.chat-info .main-page {
  margin: 12px;
  border-spacing: 6px;
}

window.chat-info .main-page > avatar {
  margin-bottom: 6px;
}

window.chat-info .main-page > list {
  margin-top: 12px;
}
