#new-login-icon {
  background-color: @dark_2;
}

button.scroll-to-bottom {
  box-shadow: 0 1px 3px 0 alpha(black, 0.6);
}

/* sticker must be repainted to a text color in messages */
messagesticker.needs-repainting > overlay > widget > widget {
  filter: invert(1);
}

.chat-list row .unread-count-muted {
  background-color: @dark_2;
}

.sender-text-red {
  color: #fb6169;
}

.sender-text-orange {
  color: #faa357;
}

.sender-text-violet {
  color: #b48bf2;
}

.sender-text-green {
  color: #85de85;
}

.sender-text-cyan {
  color: #62d4e3;
}

.sender-text-blue {
  color: #65bdf3;
}

.sender-text-pink {
  color: #ff5694;
}
