.sidebar row {
  padding-top: 4px;
  padding-bottom: 4px;
}

.sidebar .unread-count {
  background-color: @accent_bg_color;
  color: @accent_fg_color;
  font-size: 0.8em;
  min-width: 0.7em;
  border-radius: 10px;
  padding: 2px 5px;
}

.chat-history {
  background-color: @theme_base_color;
}

.send-message-area {
  margin: 6px;
}
