#new-login-icon {
  background-color: @dark_2;
}

.chat-list row .unread-count-muted {
  background-color: @dark_2;
}

.sender-text-red {
  color: #fb6169;
}

.sender-text-orange {
  color: #faa357;
}

.sender-text-violet {
  color: #b48bf2;
}

.sender-text-green {
  color: #85de85;
}

.sender-text-cyan {
  color: #62d4e3;
}

.sender-text-blue {
  color: #65bdf3;
}

.sender-text-pink {
  color: #ff5694;
}
