box.auth-page { margin: 36px 12px; }
box.auth-page > label.title { margin-bottom: 12px; }
box.auth-page > label.description { margin-bottom: 36px; }

box.dialog {
  margin-top: 6px;
  margin-bottom: 6px;
}

.unread-badge {
  background-color: @theme_selected_bg_color;
  color: white;
  font-weight: bold;
  font-size: 0.8em;
  border-radius: 10px;
  min-width: 0.7em;
  padding: 2px 5px;
}

.message-list {
  background-color: @theme_bg_color;
}

.message-list > row {
  border-radius: 5px;
  margin: 2px 6px;
  padding: 6px;
}
