.chat-list {
  background: @window_bg_color;
}

.online-indicator-mask {
  border-radius: 9999px;
  background-color: @window_bg_color;
  padding: 7px;
}

.online-indicator-dot {
  border-radius: 9999px;
  background-color: @green_4;
  padding: 5px;
}

.chat-list row .title {
  font-size: 0.95em;
}

.chat-list row .timestamp {
  font-size: 0.8em;
}

.chat-list row .last-message {
  font-size: 0.95em;
}

.chat-list row .unread-count {
  color: @accent_fg_color;
  font-size: 0.8em;
  font-weight: bold;
  min-width: 0.7em;
  border-radius: 10px;
  padding: 2px 5px;
}

.chat-list row .unread-count-unmuted {
  background-color: @accent_bg_color;
}

.chat-list row .unread-count-muted {
  background-color: @light_5;
}

.chat-history listview {
  padding: 3px 0;
}

.chat-history row {
  border-radius: 5px;
  margin: 0 6px;
}

.chat-history row .message-bubble {
  background-color: alpha(black, 0.07);
  border-radius: 12px;
  padding: 6px 12px;
}

.chat-history row .outgoing {
  background-color: @accent_bg_color;
  color: @accent_fg_color;
}

.chat-history row .outgoing selection {
  background-color: alpha(@accent_fg_color, 0.2);
}

.chat-history row .outgoing link {
  color: @accent_fg_color;
}

.chat-history row .event-row {
  font-size: 0.8em;
  padding: 3px;
}

.sender-text {
  font-size: 0.85em;
  font-weight: bold;
}

.sender-text-red {
  color: #c03d33;
}

.sender-text-orange {
  color: #ce671b;
}

.sender-text-violet {
  color: #8544d6;
}

.sender-text-green {
  color: #4fad2d;
}

.sender-text-cyan {
  color: #2996ad;
}

.sender-text-blue {
  color: #168acd;
}

.sender-text-pink {
  color: #cd4073;
}

.message-text {
  font-size: 0.95em;
}

.chat-action-bar {
  margin: 6px;
}

.qr-code-quite-zone {
  background-color: white;
}
