.chat-list row .title {
  font-size: 0.95em;
}

.chat-list row .timestamp {
  font-size: 0.8em;
}

.chat-list row .last-message {
  font-size: 0.95em;
}

.chat-list row .unread-count {
  background-color: @accent_bg_color;
  color: @accent_fg_color;
  font-size: 0.8em;
  font-weight: bold;
  min-width: 0.7em;
  border-radius: 10px;
  padding: 2px 5px;
}

.chat-history {
  background-color: @theme_base_color;
}

.chat-history row .message-bubble {
  background-color: alpha(black, 0.1);
  border-radius: 9px;
  padding: 6px 12px;
}

.chat-history row .incoming {
  margin-right: 50px;
}

.chat-history row .outgoing {
  margin-left: 50px;
}

.event-row {
  background-color: alpha(black, 0.1);
  border-radius: 9999px;
  font-size: 0.8em;
  padding: 6px 18px;
}

.sender-text {
  font-size: 0.85em;
  font-weight: bold;
}

.message-text {
  font-size: 0.95em;
}

.send-message-area {
  margin: 6px;
}
